<a href="/" class="link-info">
  HOME |
</a>
<a href="/login" class="link-info">
  LOGIN |
</a>
<a href="/register" class="link-info">
  REGISTER |
</a>
<a href="/users" class="link-info">
  ADMIN
</a>
<hr />