{{#if message}}
  <div class="alert alert-info" role="alert">
    {{message}}
  </div>
{{/if}}

<form method="POST" action="/register">
  <h3>
    REGISTER
  </h3>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      aria-describedby="username"
      placeholder="username"
    />
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="password"
    />
  </div>
  <button type="submit" class="btn btn-info">
    register
  </button>
  <a class="link-info" href="/login">
    login?
  </a>
</form>